<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <!-- 
    Policy definitions for e4700 BMC system actions.
    (C) 2018 Dell Inc
  -->

  <vendor>openBMC Tool</vendor>
  <vendor_url>https://xxxxxxxxxxxx</vendor_url>
  <icon_name>openBMC rpi</icon_name>

</policyconfig> 

