[Unit]
Description=Fan Control Service
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/usr/sbin
ExecStart=/usr/sbin/fan-control.py start

[Install]
WantedBy=multi-user.target
