[Unit]
Description=Fan Control Service
StartLimitIntervalSec=0

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/usr/sbin
ExecStart=/usr/sbin/fan_control.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
